<?xml version="1.0" encoding="utf-8"?>
<NetworkConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <KnownProxies>{{range .Gateways}}
    <string>{{.}}</string>{{end}}
    <string>127.0.0.1</string>
  </KnownProxies>
</NetworkConfiguration>
